<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Prayer Requests</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<!--[if IE]>
<style type="text/css"> 
/* place css fixes for all versions of IE in this conditional comment */
#sidebar1 { padding-top: 30px; }
#mainContent { zoom: 1; padding-top: 15px; }
/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */
</style>
<![endif]-->

</head>

<body>

<div id="container">
  <div id="header">
    <h1>Prayer Requests</h1>
    <!-- end #header --></div>
 
  <div id="mainContent">
    <h1> Oops! </h1>
    <form id="form1" name="form1" method="post" action="">
      <p>
        
          <label>User Name</label>
          <input type="text" name="usr_name" id="usr_name" tabindex="1" />
          </p><p>
<label>Password</label>
          <input type="text" name="usr_pass" id="usr_pass" tabindex="2" /></p><p>
        <input type="submit" name="button" id="button" value="Log In" />
      </p>
    </form>
    <h2>More Information </h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent aliquam,  justo convallis luctus rutrum, erat nulla fermentum diam, at nonummy quam  ante ac quam. Maecenas urna purus, fermentum id, molestie in, commodo  porttitor, felis. Nam blandit quam ut lacus. Quisque ornare risus quis  ligula. Phasellus tristique purus a augue condimentum adipiscing. Aenean  sagittis. Etiam leo pede, rhoncus venenatis, tristique in, vulputate at, odio.</p>
	<!-- end #mainContent --></div>
	<!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats --><br class="clearfloat" />
   <div id="footer">
    <p>Copyright, Privacy, Use Agreement</p>
    <!-- end #footer --></div>
<!-- end #container --></div>
</body>
</html>
